h1, button, label{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

ul{
    list-style-type: none;
}

body, #app{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
}

.home-container {
    padding: 0 2em;
}

.header{
    text-align: center;
    font-size: 36px;
    font-weight: 100;
}

.header-small {
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}

.header-medium {
    font-size: 30px;
    font-weight: 100;
}

.header-large {
    font-size: 40px;
    font-weight: 100;
}

.keyboard {
    position: relative;
    margin: auto;
}

.keyboard-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    padding-left: 0;
    margin: 0 0 1.5em 0;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.octave{
    display: flex;
    max-height: 220px;
    height: 30vw;
    width: 100%;
}

.octave ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.piano-key {
    position: relative;
    display: flex;
    width: 100%;
}

.white {
    background-color: white;
}

.white-disabled {
    background-color: #e3e3e3;
}

.white, .white-disabled {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    box-shadow: 0px 3px 2px;
}

.white li:active{
    box-shadow: 0 4px 2px;
}

.black {
    background: linear-gradient(45deg, #222 0%, #555 100%);
}

.black-disabled {
    background: linear-gradient(45deg, #222 0%, #fff 100%);
}

.black, .black-disabled{
    position: absolute;
    top: -0.5px;    
    left: 100%;
    border: 1px solid black;
    height: 60%;
    width: 70%;
    transform: translateX(-50%);
    z-index: 2;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
    0 -3px 20px 2px rgba(0, 0, 0, 0.6) inset,
    0 2px 4px rgba(0, 0, 0, 0.5);
}

.black li:active {
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
    background: linear-gradient(left, #444 0%, #222 100%);
}

.play-button, .clear-button {
    width: 120px;
    margin-left: 0.5em;
    padding: 10px;
    padding-bottom: 12px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

.play-button {
    background: #4CAF50;
    color: white;
}

.clear-button {
    background: #e2e2e2;
}

.register-page-container, .login-page-container {
    max-width: 540px;
    margin: auto;
    margin-top: 5em;
    padding: 0 2em;
}

.register-page-container a, .login-page-container a {
    text-decoration: none;
}

.register-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding: 1em 0 2em;
    box-shadow: 0px 3px 3px rgb(226, 226, 226);
}

.sign-up-or-join {
    font-size: 18px; 
    font-weight: 100;
    text-align: center;
    margin: 1em 0; 
    padding: 0 0.5em; 
}